body, html {
    background: #207253;
    padding:2px;
    height:100%;
    font-family: Times new roman;
}
.outerwrap{
    background: #FFFFFF;
    margin: auto;
    width: 710px;
    border-radius: 34px;
    border: 2px solid #ffcc2f;
    overflow:hidden;
}
#wrap{
    overflow:hidden;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 30px;

}

#header{
    width: 100%;
    background: #FFFFFF;

}

#sidebar1{

    float: left;
    width: 150px;
    background:#FFFFFF;
    padding-bottom:20px;
}

#main{
    text-align: justify;
    text-justify: inter-word;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    width: 510px;
    background:#FFFFFF;
    overflow:hidden;
}

#footer{
    font-size: 9pt;
    position:center;
    padding:10px;
    background:#FFFFFF;
    margin:auto;
    width: 95%;
    border-radius: 5px;
}
h3{
   
}
#headshot{
    border-radius: 5px;
    width:150px;
    padding-bottom:1px;
}
p#head{
    margin-top: 10px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

#logo{
    float:left;
    width:150px;
}

.linky{ 
    color:#ffcc2f;
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
}

a.linky:link{
    display:block;
    width:142px;
    padding:2px;
    border: 2px solid;
    text-decoration: none;
    background: #207253;
    text-align: center;
    border-radius: 5px;
}
a.linky:visited {}
a.linky:focus {
    background: #ffcc2f;
    color: #857148;
}
a.linky:hover {
    background: #ffcc2f;
    color: #857148;
}
a.linky:active {
    background: #857148;
    color: #FFFFFF;
    border-color: #ffcc2f;
}
.clear{
    clear:both;
}
.spacer{
    padding:2px;
}
